<% layout("/layouts/boilerplate") %>
    <body>
        <div class="container mt-5">
            <div class="card listing-card p-4">
                <h3 class="card-title mb-4">Listing Details</h3>
                <ul class="list-unstyled">
                    <li class="mb-3">
                        <img src="<%= listing.image %>" class="img-fluid rounded" alt="Listing Image">
                    </li>
                    <li class="mb-3">
                        <h4 class="mb-2"><%= listing.title %></h4>
                    </li>
                    <li class="mb-3">
                        <p><%= listing.description %></p>
                    </li>
                    <li class="mb-3">
                        <strong>&#8377;<%= listing.price.toLocaleString("en-IN") %></strong>
                    </li>
                    <li class="mb-3">
                        <p><strong>Location:</strong> <%= listing.location %></p>
                    </li>
                    <li class="mb-3">
                        <p><strong>Country:</strong> <%= listing.country %></p>
                    </li>
                </ul>
                <div class="d-flex justify-content-between">
                    <a href="/listings/<%= listing._id %>/edit" class="btn btn-warning">Edit</a>
                    <form method="POST" action="/listings/<%= listing._id %>?_method=DELETE">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </body>
